@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a class="display-4"> ABOUT US</a>
    <br />
    <br>In 2022 a group of 5 computer science students from Varsity College Westville came together to form Penterra Software Solutions.We created Penterra to help others with all their development needs. We have a wel rounded team with each member being a top performer in their specialization. While also being able to perform wherever else need in the software development cycle</br>

    <br>Our areas of specialization are:</br>
    <br>--Web Development</br>
    <br>--App Development</br>
    <br>--Mobile Development</br>
    <br>--Database Development and Architecture</br>
    <br>--Cloud Solutions</br>
    <br>--Project Management</br>
</div>
