@page
@model PrivacyModel
@{

}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <a class="display-4"> CONTACT US</a>
    <br />
    <br />
    <a > For all your software development needs please contact us  </a>
    <br />
    <a > Our team is available around the clock to help you</a>
    <br />
    <br />   
    <a  type="text/html">Email:  penterra@gmail.com</a>
    <br />
    <br />
    <a >Phone: +27818533435</a>
    <br />

</div>
